<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Add Items to List</title>
    <!-- Favicon -->
    <link rel="icon"  href="static/img/favicon.png">
</head>
<body>
    <div class="container">
        <h1>Add Items to List</h1>
        <div>
            <input type="text" id="itemInput" placeholder="Enter item...">
            <button onclick="addItem()">Add Item</button>
        </div>
        <ul id="itemList"></ul>
    </div>
    <script src="../js/script.js"></script>
</body>
</html>
