<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <!-- Your custom CSS styles -->
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 5rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            border-radius: 5px;
            padding: 2rem;
            max-width: 400px;
            margin: 0 auto;
        }

        .form-group {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <br>   <br>    <br>    <br>
    <div class="container">
        <form action="/reset_password/{{ token }}" method="POST">
            <h1 class="h3 mb-3">Reset Password</h1>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="New Password" name="new_password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Set New Password</button>
        </form>
    </div>

    <!-- Bootstrap JS (optional, but may be required for certain components) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
