<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Permit System</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Custom CSS -->
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            text-align: center;
            margin-top: 100px;
        }

        h1 {
            color: #007bff;
        }

        .btn-group {
            margin-top: 20px;
        }

        .btn-primary,
        .btn-secondary {
            font-size: 18px;
            margin: 10px;
        }
    </style>
</head>
<body>

    <div class="container">
        <h1>Welcome to the Water Permit System</h1>

        <div class="btn-group">
            <a href="{{ url_for('application') }}"  class="btn btn-primary">Apply for Permit</a>
            <a href="#" class="btn btn-secondary">Check Status</a>
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js (Optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
